server {

  listen       *:80;
  server_name  {{ wp_project_name }};
  access_log   /srv/{{ wp_project_name }}/logs/{{ wp_project_name }}.access.log;
  error_log    /srv/{{ wp_project_name }}/logs/{{ wp_project_name }}.error.log;

  root  /srv/{{ wp_project_name }}/www;
  index index.php;

  location / {
    try_files $uri $uri/ /index.php?$args;
  }

  location ~ \.php$ {
    try_files $uri =404;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_pass unix:/var/run/php5-fpm/{{wp_project_name}}.sock;
  }

}
