server {

  listen       *:80;
  server_name  {{ wp_project_name }};
  access_log   /srv/{{ wp_project_name }}/logs/{{ wp_project_name }}.access.log;
  error_log    /srv/{{ wp_project_name }}/logs/{{ wp_project_name }}.error.log;

  root  /srv/{{ wp_project_name }}/www;
  index index.php;

  include wordpress.conf;
}
